*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: arial;
}

header{
    width: 100%;
    background-color: white;
    height: 2cm;
    align-items: center;
    display: flex;
    text-align: center;
    
}


.logo-header img{
    height: 1.5cm;
    width: 3.4cm;
}

.img-logo{
    height: 3cm;
    width: 3cm;
}